# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# SQLite database
*.db

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore virtual environment folders
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore VSCode settings
.vscode/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore compiled files
*.so

# Ignore IDE-specific folders
.idea/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
*.pytest_cache/
cover/

# Ignore benchmark results
benchmark_results/
*.benchmarks

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
*.mypy_cache/

# Ignore static analysis reports
static_analysis/
lint_reports/
pylint_reports/
.ruff_cache/
*.ruff_cache/

# Streamlit
.streamlit/secrets.toml
.streamlit
